@import '../../globals.scss';

.custom-btn-link {
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  padding: 0 2rem;
  border: $border-size solid $base-color;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border-radius: $border-radius;
}

.custom-btn-link.no-outline {
  border: $border-size solid transparent;
}

.custom-btn-link,
.custom-btn-link-content {
  justify-content: center;
  align-items: center;
}

.custom-btn-link-content {
  width: 100%;
  display: flex;
}

.custom-btn-link,
.custom-btn-link:hover,
.custom-btn-link:active {
  text-decoration: none !important;
  color: $base-color;
}

.custom-btn-link:active .custom-btn-link-title,
.custom-btn-link:hover .custom-btn-link-title {
  -webkit-text-stroke-width: $hover-stroke;
  -webkit-text-stroke-color: $hover-color;
}

